<h2 id="products__title">Productos</h2>
<div id="products_dashboard">
{{#if products.length}}
    {{#each products}}
    <div class="product">
        <img src='{{  this.img }}' alt='{{ this.title }}' class="product__img">
        <div class="product__info">
            <h4 class='product__title'> {{ this.title }} </h4>
            <h4 class='product__price'> $ {{ this.price }} </h4>
        </div>
    </div>
    {{/each}}
  {{else}}
  <p id="products_empty">No posee productos ingresados</p>
{{/if}}
</div>
